.catalog-optional__title {
  position: relative;
  margin: 0;
  padding: 29px 0 34px 0;
  width: 247 / 280 * 100%;
  box-sizing: border-box;
  font-family: $font-family__headings;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color__heading;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1px;
    width: 100vw;
    height: 3px;
    background-color: $background__elements;
  }
}

.catalog-optional__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.catalog-optional__item {
  padding: 13px 0 17px 0;
  border-top: 1px solid rgb(205, 205, 205);
}

.catalog-optional__item-title {
  margin: 0;
  padding: 0;
  padding-left: 1px;
}

.catalog-optional__item-link {
  font-family: $font-family__headings;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $width__tablet) {
  .catalog-optional__title {
    width: 100%;
    font-size: 36px;
    line-height: 36px;
  }

  .catalog-optional__item {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-optional__item-title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $width__desktop) {
  .catalog-optional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-optional__list {
    width: 895 / 1220 * 100%;
  }

  .catalog-optional__item {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
