.order-all {
  height: 280px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.order-all__description {
  margin: 0;
  padding: 0;
  font-family: $font-family__text;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media (min-width: $width__desktop) {
  .order-all {
    width: 245 / 1220 * 100%;
    margin-left: 6.557%;
  }

  .order-all__description {
    margin: 0;
    padding: 0;
  }
}
