.program-request__title {
  margin: 0;
  padding: 0;
  font-family: $font-family__headings;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $font-color__heading;
}

.program-request__invitation {
  margin: 0;
  padding: 0;
  font-family: $font-family__headings;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $font-color__heading;
  text-transform: uppercase;
}

.program-request__form fieldset {
  border: 0;
}

.program-request__form label {
  font-family: $font-family__headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $font-color__heading;
  text-transform: uppercase;
}

.program-request__cat label,
.program-request__type label,
.program-request__contacts label,
.program-request__options label {
  display: block;
}

.program-request__cat-name::placeholder,
.program-request__cat-weight::placeholder,
.program-request__cat-age::placeholder,
.program-request__contacts-email::placeholder,
.program-request__contacts-phone::placeholder,
textarea {
  font-family: $font-family__headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $font-color__text;
  text-transform: uppercase;
}

.program-request__contacts legend,
.program-request__owner-comments legend,
.program-request__options legend {
  font-family: $font-family__headings;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color__heading;
}

.program-request__owner-comments textarea {
  width: 100%;
}

.program-request__required-fields {
  margin: 0;
  padding: 0;
  font-family: $font-family__text;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $font-color__text;
}

@media (min-width: $width__tablet) {
  .program-request__title {
    font-size: 60px;
  }

  .program-request__invitation {
    font-size: 20px;
    line-height: 30px;
  }

  .program-request__options-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .program-request__options label {
    width: 50%;
  }

  .program-request__options-button-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .program-request__required-fields {
    width: 30%;
  }
}

@media (min-width: $width__desktop) {
  .program-request__options label {
    width: 245 / 1220 * 100%;
  }
}
