.social {
  margin: 0;
  padding: 0;
  min-height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

.social__item {
  margin: 0;
  padding: 0;
}

.social__item:nth-of-type(2n) {
  margin: 0 65px;
}

.social__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
  }

  &--vk::before {
    left: -2px;
    top: -5px;
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--instagram::before {
    left: -8px;
    top: -7px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--fb::before {
    top: -9px;
    right: 7px;
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb-mobile.svg");
  }
}
