body {
  margin: 0;
  padding: 0;

  background-color: $background__main;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.page-wrapper {
  width: 320px;
  margin: 0 auto;
}

.container {
  margin: 0;
  padding: 0 20px;
}
